
/*
wrap -> empacotamento
1 - flex-wrap: nowrap; este é o padrão - Não empacote
2 - flex-wrap: wrap;
3 - flex-wrap: wrap-reverse

*/
div.contentor{
    background-color: #2b1010;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
div.item1{
    background-color: #045050;
    padding: 2px;
    border: 1px solid black;
    text-align: center;
    flex: auto;
}