div.contentor{
    background-color: #2b1010;
    display: flex;
    flex-direction: column-reverse;
}
div.item1{
    background-color: #045050;
    flex: auto;
    padding: 2px;
    border: 1px solid black;
    text-align: center;
}